.menu {
  grid-row: 1 / 2;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;

  // margin: 10px 0;
  &__item {
    grid-row: 1 / span 2;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    background-color: $blue;
    border-radius: $borderRadius;

    .menu__img-container {
      grid-column: 1 / 2;
      grid-row: 1 / 3;
      min-width: 75px;
      min-height: 75px;
      margin: 1.5em;
      // width: 70%;
      // height: 50%;
      aspect-ratio: 1/1;
      .author-img {
        width: 100%;
        height: 100%;
        border: 2px solid #fff;
        border-radius: 50%;
      }
    }
    .menu__info {
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      font-weight: 300;
      font-size: calc(0.8 * $fontSize);
      color: $paleBlue;
    }
    .menu__author {
      font-weight: 300;
      font-size: calc(1.2 * $fontSize);
      letter-spacing: 1px;
      color: rgb(255, 255, 255);
    }
  }
  &__nav {
    grid-row: 3 / 4;
    display: grid;
    position: relative;
    border-top-left-radius: -30px;
    border-bottom-left-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
    background-color: $darkBlue;
    .menu__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      list-style: none;
      &-item {
        @include flexContainer(row, center, center);
        color: $desaturatedBlue;
      }
      &-item:hover {
        color: rgb(255, 255, 255);
        cursor: pointer;
      }
    }
  }
  .up-inverted-border-radius::before {
    content: "";
    position: absolute;
    transform: translateY(-100%);
    width: $borderRadius;
    height: 50px;
    border-bottom-left-radius: $borderRadius;
    box-shadow: 0 $borderRadius 0 0 $darkBlue;
    background-color: transparent;
  }
  .up-inverted-border-radius::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-100%);
    width: $borderRadius;
    height: 50px;
    border-bottom-right-radius: $borderRadius;
    box-shadow: 0 $borderRadius 0 0 $darkBlue;
    background-color: transparent;
  }
}
@media (max-width: $xXSmall) {
  .menu__item {
    .menu__author {
      font-size: $fontSize;
    }
  }
}
@media (min-width: $medium) {
  .menu {
    grid-row: 1 / 3;
    // grid-template-rows: 1fr 1.3fr 1fr;
    grid-template-columns: 1fr;
    &__item {
      grid-template-columns: 1fr;
      grid-template-rows: 2fr auto 2.5fr;

      .menu__img-container {
        grid-row: 1/2;
        width: 30%;
        // height: 50%;
        aspect-ratio: 1/1;
        .author-img {
        }
      }
      .menu__info {
        grid-row: 2/3;
        align-items: flex-start;
        margin-left: 1.5rem;
      }
      .menu__author {
        grid-row: 3/4;
        margin: 0 1.5rem;
        font-size: 1.5 * $fontSize;
      }
    }
    &__nav {
      grid-row: 3 / 4;
      grid-template-columns: 1fr;
      .menu__list {
        grid-template-columns: none;
        grid-auto-flow: row;
        margin: 1rem 0;

        &-item {
          @include flexContainer(row, flex-start, center);
          width: min-content;
          font-size: 0.8 * $fontSize;
          margin: 0.5rem 1rem;
        }
      }
    }
  }
}
