.dashboard {
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  $dashboard: &; // self set to .dashboard for easier selectors in whole main file
  &__item {
    @include gridCard();
    position: relative;
    border-radius: $borderRadius;
    overflow: hidden;
    #{ $dashboard }__background {
      position: relative;
      border-top-right-radius: $borderRadius;
      border-top-left-radius: $borderRadius;
      overflow: hidden;
      #{ $dashboard }__img-container {
        width: 20vw;
        height: 20vw;
        max-width: 75px;
        max-height: 75px;
        position: absolute;
        top: -20%;
        right: 7.5%;
        z-index: 5;
        #{ $dashboard}__img {
          width: 100%;
          height: 100%;
        }
      }
    }
    #{ $dashboard }__article {
      display: grid;
      grid-template-columns: 1fr 1fr;
      position: relative;
      z-index: 6;
      padding: 1.8rem;
      text-align: left;
      border-radius: $borderRadius;
      background-color: $darkBlue;

      #{ $dashboard}__title,
      #{ $dashboard}__data {
        color: white;
      }
      #{ $dashboard}__action {
        @include flexContainer(row, flex-end, center);
        margin-bottom: 20px;
        z-index: 9;
        img {
          padding: 10px;
          cursor: pointer;
          transition: 0.2s;
        }
        img:hover {
          transform: scale(1.3);
        }
      }

      #{ $dashboard}__title {
        @include flexContainer(row, flex-start, center);
        font-size: 1.1 * $fontSize;
        font-weight: 500;
        margin-bottom: 20px;
      }
      #{ $dashboard}__data {
        @include flexContainer(row, flex-start, center);
        font-size: 2.5 * $fontSize;
        font-weight: 300;
        letter-spacing: 1px;
      }
      #{ $dashboard}__data-info {
        font-size: $fontSize;
        color: $desaturatedBlue;
      }

      #{ $dashboard}__data-info {
        @include flexContainer(row, flex-end, center);
      }
      #{ $dashboard }__extra-info {
        @include flexContainer(row, center, center);
        position: absolute;
        top: 1.8rem;
        left: 0;
        width: 75%;
        height: 70%;
        transform: translate(5%);
        padding: 10px;
        color: $veryDarkBlue;
        background-color: $lightRed;
        border-radius: $borderRadius;
        z-index: 10;
      }
      .article-background {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: $borderRadius;
        z-index: 5;
      }
      .hide-button-container {
        position: absolute;
        top: 10%;
        right: 5%;
        width: 20px;
        height: 20px;
        transition: 0.3s;
        z-index: 11;
      }
      .hide-button-container:hover {
        transform: rotate(90deg);
        cursor: pointer;
      }
      .hide-line1,
      .hide-line2 {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 5px;
        transform: translateY(-50%) rotate(45deg);
        background-color: white;
      }
      .hide-line2 {
        transform: translateY(-50%) rotate(-45deg);
      }
    }
    #{ $dashboard }__article:hover {
      background-color: hsla(235, 45%, 61%, 0.4);
    }
  }

  // setting colors and borders to each section according to design

  .dashboard-work {
    #{ $dashboard }__background {
      background-color: $lightOrange;
    }
    #{ $dashboard }__article::before {
      @include downInvertedBorderRadius(left, $lightOrange, left);
    }
    #{ $dashboard }__article::after {
      @include downInvertedBorderRadius(right, $lightOrange, right);
    }
  }
  .dashboard-play {
    #{ $dashboard }__background {
      background-color: $softBlue;
    }
    #{ $dashboard }__article::before {
      @include downInvertedBorderRadius(left, $softBlue, left);
    }
    #{ $dashboard }__article::after {
      @include downInvertedBorderRadius(right, $softBlue, right);
    }
  }
  .dashboard-study {
    #{ $dashboard }__background {
      background-color: $lightRed;
    }
    #{ $dashboard }__article::before {
      @include downInvertedBorderRadius(left, $lightRed, left);
    }
    #{ $dashboard }__article::after {
      @include downInvertedBorderRadius(right, $lightRed, right);
    }
  }
  .dashboard-exercise {
    #{ $dashboard }__background {
      background-color: $limeGreen;
    }
    #{ $dashboard }__article::before {
      @include downInvertedBorderRadius(left, $limeGreen, left);
    }
    #{ $dashboard }__article::after {
      @include downInvertedBorderRadius(right, $limeGreen, right);
    }
  }
  .dashboard-social {
    #{ $dashboard }__background {
      background-color: $violet;
    }
    #{ $dashboard }__article::before {
      @include downInvertedBorderRadius(left, $violet, left);
    }
    #{ $dashboard }__article::after {
      @include downInvertedBorderRadius(right, $violet, right);
    }
  }
  .dashboard-self-care {
    #{ $dashboard }__background {
      background-color: $softOrange;
    }
    #{ $dashboard }__article::before {
      @include downInvertedBorderRadius(left, $softOrange, left);
    }
    #{ $dashboard }__article::after {
      @include downInvertedBorderRadius(right, $softOrange, right);
    }
  }
}
@media (max-width: $xXSmall) {
  .dashboard__item {
    .dashboard__article {
      grid-template-columns: 1fr 2fr;
      padding: 1rem;
      .dashboard__title,
      .dashboard__action {
        margin-bottom: 10px;
      }
      .dashboard__data {
        font-size: 1.7 * $fontSize;
      }
      .dashboard__data-info {
        font-size: 0.8 * $fontSize;
      }
    }
  }
}
@media (min-width: $xXSmall) {
  .dashboard__item {
    .dashboard__article {
      grid-template-columns: 1fr 2fr;
      .dashboard__data {
        width: min-content;
        font-size: 2 * $fontSize;
      }
      .dashboard__data-info {
        font-size: 16px;
      }
    }
  }
}
@media (min-width: $medium) {
  .dashboard {
    grid-row: 1 / span 2;
    grid-column: 2/3;
    grid-template-columns: 1fr 1fr 1fr;
    $dashboard: &;
    &__item {
      grid-template-columns: 1fr;
      #{ $dashboard }__background {
        #{ $dashboard }__img-container {
          right: 10%;
        }
      }
    }
    #{ $dashboard }__article {
      grid-template-columns: 4fr 1fr;
      gap: 0;
      #{ $dashboard}__title,
      #{ $dashboard}__action {
        margin-bottom: 20px;
      }
      #{ $dashboard}__data {
        @include flexContainer(row, flex-start, flex-end);
      }
      #{ $dashboard}__data-info {
        grid-row: 3/4;
        grid-column: 1/3;
        font-size: 0.8 * $fontSize;
      }

      #{ $dashboard}__data-info {
        @include flexContainer(row, flex-start, center);
      }
      #{ $dashboard }__extra-info {
        top: 2.8rem;
        width: 70%;
      }
      .hide-button-container {
        right: 10%;
      }
    }
  }
}
