// import styles for each section//
@import "variables";
@import "mixins";
@import "header";
// @import "content";
// @import "footer";

/* standard style reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}
.wrapper {
  // height: 100%;
  // color: white;
  // background-color: $veryDarkBlue;
  display: grid;
  grid-auto-flow: row;
  font-family: $fontFamily;
  font-size: $fontSize;
  // border: 2px solid red;
  margin: 40px 20px;
}
.card-background {
  background-color: $darkBlue;
}
