// import styles for each section//
@import "variables";
@import "mixins";
@import "container";
@import "header";
@import "main";

/* standard style reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
